@model SMS.Models.Login.UserRequestDto;
@{
    Layout = "_LayoutLogin";
}
<div class="login-box" style="padding:2px;">
    <div class="card">
        <div class="card-body login-card-body">
            <div class="login-logo">
                <img src="~/images/siteimages/st_new.png" style="max-width:160px;" />
            </div>

            <form method="post" asp-controller="Account" asp-action="Login">
                <!-- Email / Username -->
                <div class="mb-3">
                    <label asp-for="EmailOrUserName" class="form-label"></label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Email or UserName" asp-for="EmailOrUserName" />
                        <span class="input-group-text"><i class="bi bi-envelope"></i></span>
                    </div>
                    <span asp-validation-for="EmailOrUserName" class="text-danger"></span>
                </div>

                <!-- Password -->
                <div class="mb-3">
                    <label asp-for="Password" class="form-label"></label>
                    <div class="input-group">
                        <input type="password" class="form-control" placeholder="Password" asp-for="Password" />
                        <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <!-- Sign In Button -->
                <div class="d-grid mb-3">
                    <button type="submit" class="btn btn-primary">Sign In</button>
                </div>
            </form>

            <!-- Links -->
            <p class="mb-1" style="margin-left:20px;">
                <a asp-action="ForgotPassword" asp-controller="Account">I forgot my password</a>
            </p>
           @*  <p class="mb-0" style="margin-left:20px;">
                <a asp-action="SignUp" asp-controller="Account">Sign Up</a>
            </p> *@
        </div>
    </div>
</div>
