@model SMS.Models.Login.UserDto;
@{
    Layout = "_LayoutLogin";
}

<div class="login-box" style="padding:2px;">

    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <div class="login-logo">
               @* <img src="~/images/bg/school.png" /> *@
            </div>
            <form method="post" asp-action="Login">
                <span asp-validation-for="EmailOrUserName" class="text-danger"></span>
                <div class="input-group mb-5">
                    <label asp-for="EmailOrUserName" class="form-label"></label>
                    <input type="text" class="form-control" placeholder="Email or UserName" asp-for="EmailOrUserName" />
                    <div class="input-group-text"><span class="bi bi-envelope"></span></div>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
                <div class="input-group mb-5">
                    <label asp-for="Password" class="form-label"></label>
                    <input type="password" class="form-control" placeholder="Password" asp-for="Password"/>
                    <div class="input-group-text"><span class="bi bi-lock-fill"></span></div>
                </div>
                
                <!--begin::Row-->
                <div class="input-group mb-3">
                    <!-- /.col -->
                    <button type="submit" class="btn btn-primary w-100">Sign In</button>
                    <!-- /.col -->
                </div>
                <!--end::Row-->
            </form>
        </div>
        <!-- /.login-card-body -->
        <p style="margin-left:20px;"><a asp-action="forgotpassword" asp-controller="account">I forgot my password</a></p>
    </div>

</div>